# Flask app for interface and API
Flask==3.1.0
Jinja2==3.1.6
Werkzeug==3.1.3
itsdangerous==2.2.0
click==8.1.8
blinker==1.9.0

# HTTP requests
requests==2.32.3
urllib3==2.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10

# Core dependencies for tracking + CV
numpy==2.1.1
opencv-python==4.11.0.86  # Full version for local display (not -headless)
pillow==11.1.0
matplotlib==3.10.1
seaborn==0.13.2

# YOLO and DeepSORT
torch==2.6.0
torchvision==0.21.0
ultralytics==8.3.100
ultralytics-thop==2.0.14
deep-sort-realtime==1.3.2

# Utilities
tqdm==4.67.1
pandas==2.2.3
networkx==3.4.2
PyYAML==6.0.2

requests-toolbelt==1.0.0
